/* * {
  height: auto;
} */

main {
   
    height: auto;
}

h1 {
    font-size: 5em;
}


#home,
#me,
#habilidades,
#experiencia,
#educacion,
#portafolio {
    min-height: 400px;
    padding-top: 100px;
}

.body_card {
    height: 75%;
    width: 100%;
}

footer {
    margin-top: 15px;
    height: 10vh;
}