* {
    background-color: #212529;
}

header {
    height: 10vh;
}

main {
    height: auto;
}

h1 {
    font-size: 5rem;
}

.logo {
    width: 12rem;
}

.logo img {
    width: 100%;
    object-fit: cover;
}
/* Redireccionamiento a las secciones */
#home,
#me,
#habilidades,
#experiencia,
#educacion,
#portafolio .portafolio {
    min-height: 400px;
    padding-top: 100px;
}

.body_card {
    height: 75%;
    width: 100%;
}

.responsive-img-container {
    position: relative;
    width: 100%;
    height: 95%;
    overflow: hidden;
}

.responsive-img-container img {
   width: 100%;
   object-fit: cover;
}

footer {
    height: 10vh;
    align-content: center;
}